<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battle Memes</title>
</head>
<body>
<div id="header">
    <p>Welcome to Battle Memes!</p>
</div>
<div id="body">
    <form method="get" action="/signup">
        <button id="signup">Sign Up</button>
    </form>
    <form method="get" action="#">
        <button class="button" id="signin">Sign In</button>
    </form>
</div>
<div id="footer">
    <p><a href="https://github.com/lbuttorff/ist411">Official GitHub</a></p>
</div>
</body>
</html>