<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
<div align="center">
    <form action="signup" method="post" commandName="userForm">
        <h2>Spring MVC Form Demo - Registration</h2>
        <label>First name: </label><input type="text" path="fName">
        <label>Last name: </label><input type="text" path="lName">
        <label>User name: </label><input type="text" path="username">
        <label>Email: </label><input type="text" path="email">
        <label>Birthday: </label><input type="text" path="birthday">
        <label>password: </label><input type="password" path="password">
        <label>confirm password: </label><input type="password" path="confirmPassword">
        <input type="submit">
    </form>
</div>
</body>
</html>